flask==3.0.2
tika==2.6.0
spacy==3.7.4
torch==2.2.1
transformers==4.38.2
numpy==1.26.4
dateparser==1.2.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl 